<template name="store_recipe">

    <div class="text-center">
        <h1>Staff picks:</h1>
        <div id="carousel-example-generic" class="carousel slide text-center col-md-offset-2" data-ride="carousel" style="max-height: 280px; max-width:80%">
            <div class="carousel-inner text-center">
                <div class="item active text-center">
                    <img src="https://d2huu43w4jjmdn.cloudfront.net/feature_images/optomized/home_hero_retina_original.png" alt="..." style="max-height: 280px;">
                </div>
                <div class="item text-center">
                    <img src="https://d2huu43w4jjmdn.cloudfront.net/feature_images/optomized/do_work_hero_retina.png" alt="..." style="max-height: 280px;">
                </div>
                <div class="item  text-center">
                    <img src="https://d2huu43w4jjmdn.cloudfront.net/feature_images/optomized/MusicLovers_iPad.jpg" alt="..." style="max-height: 280px;">
                </div>
            </div>
        </div>
    </div>

    <div class="">

        <hr class="featurette-divider">

        <div class="row">
            <div class="col-md-7">
                <h2 class="">When fridge is empty. <span class="text-muted">Place order on Amazon Pantry.</span></h2>
                <p class="">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 text-center">
                <h1><i class="fa fa-magic" aria-hidden="true"></i></h1>
                <a href="" class="btn btn-raised btn-primary btn-add" id="1">Install recipe</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <h3 class="">When Laundry is ready. <span class="text-muted">Send a notification on my watch.</span></h3>
                <p class="">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 text-center">
                <h1><i class="fa fa-magic" aria-hidden="true"></i></h1>
                <a href="" class="btn btn-raised btn-primary btn-add" id="2">Install recipe</a>
            </div>
        </div>

        <div class="row">
        <div class="col-md-7">
            <h2 class="">When time is 7.30 am. <span class="text-muted">Start coffee.</span></h2>
            <p class="">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 text-center">
            <h1><i class="fa fa-magic" aria-hidden="true"></i></h1>
            <a href="" class="btn btn-raised btn-primary btn-add" id="3">Install recipe</a>
        </div>
        </div>


    </div>

</template>
