<template name="create_recipe">
    <h1 class="text-center"> Create your awesome recipe</h1>

    <div class="panel panel-default top30">

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="if-box if-action">
                                <h3 class="text-center">Select the trigger:</h3>
                                <div class="box-content if-action">
                                    <div class="text-center">
                                        {{#if ifField}}
                                            <h4 class="top0"><b>{{ifField}}</b></h4>
                                            <p class="top0">When:</p>
                                            <h4 class="top0"><b>{{ifAction}}</b></h4>
                                        {{else}}
                                        <h1 class="top10"><i class="fa fa-plus-circle" aria-hidden="true"></i></h1>
                                        <h3 class="top0">Tap to add</h3>
                                        {{/if}}
                                </div>
                                </div>

                        </div>
                    </div>


                    <div class="col-md-2">
                        <h1 class="text-center"><i class="fa fa-arrow-right top80" aria-hidden="true"></i></h1>

                    </div>

                    <div class="col-md-4">
                        <div class="if-box then-action">
                            <h3 class="text-center">Select the action:</h3>
                            <div class="box-content then-action text-center">
                            {{#if thenField}}
                                <h4 class="top0"><b>{{thenField}}</b></h4>
                                <p class="top0">What:</p>
                                <h4 class="top0"><b>{{{thenAction}}}</b></h4>

                            {{else}}
                                <h1 class="top10"><i class="fa fa-plus-circle" aria-hidden="true"></i></h1>
                                <h3 class="top0">Tap to add</h3>
                            {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <img src="img/ingredients.gif" class="fade-in top40"> {{#if submitButton}}<a class="btn btn-raised btn-success pull-right top60 magic" style="margin-right:10px;">Magic!</a>{{/if}}
                    <div class="clearfix"></div>
                </div>



            </div>
    </div>

    {{> if_content}}
    {{> then_content}}

</template>
