<template name="if_content">

    <div class="modal black-modal-background modal-if" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content background-bisque">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-cogs" aria-hidden="true"></i> Chose your trigger</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="well text-center" data="Google calendar">
                                <i class="fa fa-calendar" aria-hidden="true"></i>Google Calendar
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well text-center">
                                <i class="fa fa-comment" aria-hidden="true"></i> SMS
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well text-center">
                                <i class="fa fa-fire" aria-hidden="true"></i> Nest temperature
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well text-center">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> Time
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well text-center">
                                <i class="fa fa-instagram" aria-hidden="true"></i>Washing machine
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well text-center">
                                <i class="fa fa-coffee" aria-hidden="true"></i> Coffee Machine
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well text-center">
                                <i class="fa  fa-cloud" aria-hidden="true"></i> Weather
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well text-center">
                                <i class="fa fa-h-square" aria-hidden="true"></i> Oven
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well text-center">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i> HUE Lights
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 top20">

                                <div class="well text-center">
                                    <b><i class="fa fa-plus" aria-hidden="true"></i> More triggers ... </b>
                                </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer top10">
                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-raised btn-success">add</button>
                </div>
            </div>
        </div>
    </div>


</template>
