<template name="my_recipes">
    {{> create_recipe_modal}}
    <div class="text-center">
        <h1 class="text-center"> Welcome to your recipes!</h1>
        <img class="square-lg swing" src="/img/cupcake.gif">
        <h3> Seems like you still didn't create any recipe... yet! </h3>
        <a class="btn btn-raised btn-success left10 create-recipe"><i class="fa fa-magic faa-flash animated" aria-hidden="true"></i> Create a recipe</a>
        <a class="btn btn-raised btn-info left10"><i class="fa fa-shopping-basket faa-vertical animated" aria-hidden="true"></i> Find a recipe</a>
    </div>
</template>


<template name="create_recipe_modal">

    <div class="modal black-modal-background modal-create-recipe" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Create a recipe</h4>
                </div>
                <div class="modal-body">
                    {{> new_recipe_content}}
                </div>
                <div class="modal-footer top10">
                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-raised btn-success">Create the magic!</button>
                </div>
            </div>
        </div>
    </div>

</template>
