<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					{{> sideBar}}
				</div>
				<div class="col-md-9">
                    {{> appliancesContent}}
				</div>
			</div>
		</div>
	</div>
</template>


<template name="appliancesContent">

    <h1>Your appliances</h1>
    {{#each homeappliances}}
        {{> applianceCard}}
    {{/each}}

</template>

<template name="applianceCard">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading background-white text-center">
                <p>
                    <img src="{{icon}}" class="square-s">
                    <br>
                    <b>{{name}}</b>
                </p>
                <hr>
                <h3>Status: <b>On</b></h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-raised btn-success left10">See actions</a>
            </div>
        </div>
    </div>
</template>


<template name="sideBar">

    <div class="panel panel-info top50">
        <div class="panel-heading">Your appliances</div>
        <div class="panel-body">
            <li><a> <i class="fa fa-home" aria-hidden="true"></i> Your appliances</a></li>
            <li><a><i class="fa fa-plus" aria-hidden="true"></i> Add appliance</a></li>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Recipes</div>
        <div class="panel-body">
            <li><a><i class="fa fa-list-ol" aria-hidden="true"></i> View recipes</a></li>
            <li><a><i class="fa fa-magic" aria-hidden="true"></i> Create recipes</a></li>
            <li><a> <i class="fa fa-shopping-basket" aria-hidden="true"></i> Warehouse recipes</a></li>
        </div>
    </div>


</template>
